.app-wrapper {
    --white: rgba(255, 255, 255, 0.3);
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, #FFECEC, #FF78C4);
}

.app {
    border-radius: 20px;
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    padding: 2em 1.2em;

    background: var(--white);
    backdrop-filter: blur(10px);

    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}