.friend-list-item {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: 3px;
	column-gap: 13px;
	grid-template-areas:
		"avatar username"
		"avatar signature";
	align-items: center;

	padding: .8em;

	font-size: .9rem;
}

.friend-list-item>.avatar {
	grid-area: avatar;

	display: flex;
	align-items: center;
}

.friend-list-item>.username {
	grid-area: username;

	font-weight: 600;

	color: rgba(0, 0, 0, .9);
}