.friend-list-item {
    display: flex;

    padding: .8em;

    list-style: none;
}

.list-item-friend-info {
    display: flex;

    margin: .1em 0 .1em .8em;
}

.list-item-info-username {
    font-weight: 500;

    color: rgba(0, 0, 0, .7);
}