.chat-tab {
	overflow: hidden;

	display: grid;
	row-gap: 8px;
	column-gap: 20px;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: 350px 1fr;
	grid-template-areas:
		"title title"
		"search name"
		"list history";

	height: 100%;
}

.chat-tab-title {
	grid-area: title;
}

.chat-tab-search-bar {
	grid-area: search;

	border-bottom: 1px solid rgba(189, 191, 199, .8);
}

.chat-tab-name {
	grid-area: name;
}

.chat-tab-name>.username {
	display: flex;
	align-items: center;

	border-bottom: 1px solid rgba(189, 191, 199, .8);
	height: 100%;
	width: 100%;

	font-size: 1.2rem;
	font-weight: 600;
}

.chat-tab-list {
	grid-area: list;

	overflow: scroll;

	margin: 10px 0 0;
}

.chat-tab-history {
	grid-area: history;

	overflow: hidden;
}