.badge {
    border-radius: 10px;
    padding: 2px 6px;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .7rem;
    font-weight: 400;

    color: white;
    background: rgb(225, 52, 52);
}