.text-input-wrapper {
    --input-bg-color: rgba(255, 255, 255, .8);
    --input-bg-color-focus: rgba(255, 255, 255, 1);
    --input-outline-color-focus: rgb(251, 110, 190, 1);
    --input-error-color: rgb(216, 40, 40, 1);
    --input-placeholder-color: rgb(174, 177, 180, 1);
}

.text-input-wrapper {
    margin: 0 0 .2em;
}

.text-input-label {
    margin: .6em 0;

    font-size: .95rem;
    font-weight: 500;

    opacity: .7;
}

.text-input {
    border: none;
    border-radius: 10px;
    padding: .8em 1em;
    width: 100%;

    font-size: 1.1rem;
    line-height: 1.2;

    background: var(--input-bg-color);

    outline: none;
}

.text-input::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
}

.text-input:focus {
    background: var(--input-bg-color-focus);

    outline: 1px solid var(--input-outline-color-focus);
}

.text-input-notification>p {
    margin: .2em .2em 0;
    min-height: 1.3em;

    font-size: .9rem;
    font-weight: 500;

    color: var(--input-error-color);
}