.login-form-wrapper {
	display: flex;
	flex-direction: column;

	position: relative;

	padding: 1em .5em;
}

.login-form-title {
	margin: 0 0 .9em;

	font-size: 1.8rem;
	font-weight: 500;

	opacity: .8;
}

.error-message {
	position: absolute;

	top: -10em;
	left: 2em;
	right: 2em;

	margin: auto;
}